{% extends "base.html" %}

{% block title %}
    Stats SA Agriculture Survey
{% endblock %}

{% block content %}
    <h1>Welcome to the Stats SA Agriculture Survey</h1>
    <p>If you are a new user, please <a href="{{ url_for('register') }}">register</a>. If you already have an account, <a href="{{ url_for('login') }}">log in</a>.</p>
 
    <!-- Contact Details added here -->
    <footer>
        <p>Contact Details:</p>
        <p>Name: Philasande Tshusha</p>
        <p>Phone: 0786439409</p>
        <p>Email: <a href="mailto:PhilasandeT@statssa.gov.za">PhilasandeT@statssa.gov.za</a></p>
    </footer>
{% endblock %}







